* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0d0f0f;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

nav a {
  color: #bbb;
  margin-left: 25px;
  text-decoration: none;
  position: relative;
}

nav a.active,
nav a:hover {
  color: #00ffd5;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  gap: 80px;
}

/* Profile Image */
.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(135deg, #00ffd5, #00aaff);
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: #000;
}

/* Content */
.content {
  max-width: 420px;
}

.intro {
  color: #aaa;
  margin-bottom: 5px;
}

h1 {
  font-size: 42px;
}

h1 span {
  color: #00ffd5;
}

.desc {
  color: #aaa;
  margin: 20px 0;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.primary {
  background: #00ffd5;
  color: #000;
}

.primary:hover {
  background: #00cfae;
}

.outline {
  border: 1px solid #00ffd5;
  color: #00ffd5;
}

.outline:hover {
  background: #00ffd5;
  color: #000;
}
.about {
  max-width: 800px;
  margin: 80px auto;
  text-align: center;
}

.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #00ffd5;
}

.about p {
  color: #aaa;
  font-size: 18px;
  line-height: 1.6;
}

.skills {
  margin-top: 30px;
}

.skills span {
  display: inline-block;
  border: 1px solid #00ffd5;
  padding: 10px 18px;
  border-radius: 20px;
  margin: 8px;
  color: #00ffd5;
}

